/* App.css */

.App {
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: white;
  padding: 20px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1);

  background-image: url('./background.jpg');

  background-size: cover; 
  background-repeat: no-repeat; 
  background-attachment: fixed; 
  background-position: center;
}

h1 {
  font-size: 40px;
  margin-top: 10px;
  margin-bottom: 60px;
  color: #fdfeff;
}

input[type="text"] {
  padding: 10px;
  font-size: 16px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #00d9ff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.Graph {
  width: 100%;
  background-color: none;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.fullscreen-button {
  background-color: #0eec42;
  margin-top: 30px;
  margin-bottom: 20px;
}

.fullscreen-button:hover {
  background-color: #2d6c3b;
}
.footer-info {
  margin-top: 50px;
  color: rgb(8, 30, 139);

}
.footer-info a {
  color: red;
}

